#mob {
  background-color: #fff;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.3);
}
#mob .header_head {
  display: flex;
}
#mob .header_head .mob_head_logo {
  padding: 12px 10px 12px 15px;
  width: 50%;
  display: inline-block;
}
#mob .header_head .mob_head_logo img {
  max-width: 100%;
  max-height: 42px;
}
#mob .header_head .mob_head_phone {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 12px 15px 12px 10px;
  width: 50%;
  color: #fff;
  font-size: 17px;
}
#mob .header_head .mob_head_phone a {
  color: #f60;
}
#mob .header_head .mob_head_phone a:hover {
  color: #f60;
}
#mob .header_head .mob_head_phone span {
  color: #232323;
  font-size: 14px;
}
#mob .header_nav {
  background-color: #fe7201;
}
#mob .header_nav a {
  display: block;
  color: #fff;
  padding: 12px 15px;
  font-size: 16px;
  text-align: center;

  position: relative;
  font-family: Fira Sans;
  font-weight: bold;
}

.m_title_8 > .module_wrp > .title_wrap_top > .title {
  font-size: 31px;
  color: #262626;
  /* 
www 2  
*/
}
.m_title_8 > .module_wrp > .title_wrap_top > .separate_3 {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 70px;
  height: 3px;
  background-color: #ce0000;
  /* 
www 3  
*/
}
.section_algoritm_work .cont_module_wrp .row {
  display: flex;
  flex-wrap: wrap;
}
.section_algoritm_work .cont_module_wrp .part {
  position: relative;
  font-weight: bold;
  width: 35px;
  height: 35px;
  background: #080b17;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  margin-bottom: 15px;
}
.section_algoritm_work .cont_module_wrp .part:before {
  content: "";
  display: flex;
  position: absolute;
  top: 4px;
  right: -4px;
  z-index: -3;
  width: 35px;
  height: 35px;
  background: #ce0000;
  border-radius: 4px;
}
.section_algoritm_work .cont_module_wrp .title {
  font-size: 20px;
  color: #232323;
  font-weight: bold;
  margin-bottom: 20px;
}
.section_algoritm_work .cont_module_wrp .desc {
  margin-bottom: 30px;
}
.grid_col--5dc9274110a3d872918499 {
  width: 100%;
}
.m_title_10 > .title_wrap_top {
  margin-bottom: 30px;
  position: relative;
}
.m_title_10 > .title_wrap_top > .title {
  font-family: Fira Sans;
  font-size: 34px;
  line-height: 34px;
  color: #262626;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  position: relative;
  z-index: 2;
}
.m_title_10 > .title_wrap_top > .post_title {
  font-family: Fira Sans;
  font-size: 46px;
  line-height: 46px;
  color: #262626;
  font-style: normal;
  font-weight: 700;
  text-transform: uppercase;
  display: none;
}
.m_title_10 > .title_wrap_top > .desc_top {
  line-height: 30px;
  padding-top: 20px;
}
@media (min-width: 768px) {
  .m_title_10 > .title_wrap_top > .post_title {
    top: 14px;
    left: 7px;
    position: absolute;
    opacity: 0.08;
    display: block;
  }
}
@media (min-width: 992px) {
  .m_title_10 > .title_wrap_top {
    margin-bottom: 50px;
  }
  .m_title_10 > .title_wrap_top > .desc_top {
    padding-top: 40px;
  }
}
.section_review .grid_banner {
  margin-bottom: 20px;
  display: block;
}
.section_review .image {
  display: block;
  height: 320px;
  background-position: center;
  background-size: cover;
}
.section_review .caption {
  color: #232323;
  padding: 10px 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Fira Sans;
  font-weight: bold;
}
.section_review .grid_banner:hover .caption {
  text-decoration: underline;
}
.section_review .grid_banner--1 {
  background-image: url(../images/review/1.jpg);
}
.section_review .grid_banner--2 {
  background-image: url(../images/review/2.jpg);
}
.section_review .grid_banner--3 {
  background-image: url(../images/review/3.jpg);
}
.section_review .grid_banner--4 {
  background-image: url(../images/review/4.jpg);
}
.html_58 > .cont_module_wrp {
  line-height: 30px;
}
.section_number_about_us .num {
  font-family: impact;
  color: #fe7201;
  font-size: 72px;
  margin-bottom: 6px;
  line-height: 72px;
}
.section_number_about_us .num_desc {
  font-family: Fira Sans;
  font-size: 16px;
  margin: 30px;
  color: #232323;
  font-weight: bold;
}
.three_reasons .cont_module_wrp .ico {
  width: 100%;
  text-align: center;
  margin-bottom: 15px;
}
.three_reasons .cont_module_wrp .ico img {
  width: 80px;
}
.three_reasons .cont_module_wrp .title {
  font-family: Fira Sans;
  font-size: 16px;
  color: #232323;
  margin-bottom: 20px;
  font-weight: bold;
}
.html_55 {
  display: flex;
  flex-wrap: wrap;
}
.best_service .row {
  display: flex;
  flex-wrap: wrap;
}
.best_service .tiaser {
  padding-left: 75px;
  margin-bottom: 15px;
  min-height: 55px;
  background: url(../images/ico/check.jpg) left top no-repeat;
}
.best_service .tiaser-title {
  font-family: Fira Sans;
  margin-bottom: 10px;
  color: #232323;
  font-weight: bold;
  text-transform: uppercase;
}
.tarif {
  padding-left: 90px;
  margin-bottom: 20px;
  min-height: 55px;
  background: url(../images/ico/check.jpg) 5% top no-repeat;
}
.tarif-title {
  font-family: Fira Sans;
  padding-top: 18px;
  color: #232323;
  font-weight: bold;
  text-transform: uppercase;
}
.tarif-title a {
  color: #666;
}
.tarif-title a:hover {
  color: #444;
  text-decoration: underline;
}
@media (min-width: 1200px) {
  .html_55 > .title_wrap_top {
    padding-right: 40px;
    width: 50%;
  }
  .html_55 > .cont_module_wrp {
    width: 50%;
  }
}
.html_54 > .cont_module_wrp {
  display: flex;
  justify-content: center;
  align-items: center;
}
.btn-courier_order {
  border: 2px #fff solid;
  color: #fff;
  font-size: 22px;
  font-family: Fira Sans;
  text-transform: uppercase;
  padding: 20px 40px;
  cursor: pointer;
  font-weight: bold;
}
.btn-courier_order:hover {
  background: rgba(255, 255, 255, 0.4);
}
.section_service .grid_banner {
  display: flex;
  align-items: flex-end;
  margin-bottom: 30px;
  /*height: 160px;*/
  background-position: center;
  background-size: cover;
  position: relative;
  overflow: hidden;
}
.section_service .grid_banner img {
  /*position:absolute;top:0px;right:0px;bottom:0px;left:0px;  */
  width: 100%;
  height: 100%;
}
.section_service .grid_banner span {
  color: #fff;
  padding: 0px 15px;
  height: 60px;
  font-size: 18px;
  transition: height 200ms cubic-bezier(0.25, 0.25, 0.75, 0.75) 10ms;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
  background-image: linear-gradient(90deg, #000 0px, rgba(0, 0, 0, 0) 100%);
  background-image: -webkit-linear-gradient(
    90deg,
    #000 0px,
    rgba(0, 0, 0, 0) 100%
  );
  background-image: -moz-linear-gradient(
    90deg,
    #000 0px,
    rgba(0, 0, 0, 0) 100%
  );
  position: absolute;
  right: 0px;
  bottom: 0px;
  left: 0px;
}
@media (max-width: 768px) {
  .section_service .grid_banner span {
    font-size: 14px;
  }
}
.section_service .grid_banner:hover span {
  height: 170px;
}
.section_fast_link .grid_banner {
  margin-bottom: 20px;
  display: block;
}
.section_fast_link .image {
  display: block;
  height: 170px;
  background-position: center;
  background-size: cover;
}
.section_fast_link .caption {
  color: #232323;
  padding: 10px 15px;
  font-size: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: Fira Sans;
  font-weight: bold;
}
.section_fast_link .grid_banner:hover .caption {
  text-decoration: underline;
}
.section_fast_link .grid_banner--raschet_stoimosti {
  background-image: url(../images/4-banners/1.jpg);
}
.section_fast_link .grid_banner--tarify {
  background-image: url(../images/4-banners/2.jpg);
}
.section_fast_link .grid_banner--zakluchenie_dogovora {
  background-image: url(../images/4-banners/3.jpg);
}
.section_fast_link .grid_banner--monitorig_zakaza {
  background-image: url(../images/4-banners/4.jpg);
}
.section_slider .item {
  position: relative;
}
.slider_caption {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  font-family: Fira Sans;
  display: flex;
  align-items: center;
}
.slider_caption .slider_title {
  font-size: 38px;
  color: #fff;
}
.slider_caption .slider_descr {
  font-size: 16px;
  line-height: 28px;
  list-style: none;
  padding: 0px;
  margin: 50px 0px;
  color: #fff;
}
.slider_caption .slider_ul {
  list-style: none;
  padding: 0px;
  margin: 40px 0px;
  color: #c7c7c7;
}
.slider_caption .slider_ul li {
  padding-left: 10px;
  margin-bottom: 5px;
  position: relative;
}
.slider_caption .slider_ul li:before {
  content: "";
  background: #ce0001;
  position: absolute;
  left: 0px;
  top: 9px;
  width: 3px;
  height: 3px;
  display: block;
}
.slider_caption .slider_btn {
  padding: 13px 20px;
  text-transform: uppercase;
  width: 280px;
  background: #fe7201;
  color: #fff;
  display: block;
  text-align: center;
  cursor: pointer;
  font-weight: bold;
}
.slider_caption .slider_btn:hover {
  background: #da6201;
}
.section_slider .owl-nav {
  position: absolute;
  top: 50%;
  left: 0px;
  right: 0px;
  transform: translateY(-50%);
}
.section_slider .owl-nav .owl-prev {
  position: absolute;
  left: 20px;
}
.section_slider .owl-nav .owl-next {
  position: absolute;
  right: 20px;
}
.section_slider .owl-dots {
  position: absolute;
  bottom: 20px;
  transform: translateX(-50%);
  left: 50%;
}
.section_slider .owl-dots .owl-dot {
  background: #eee;
  outline: none;
  margin: 0px 3px;
  width: 45px;
  height: 4px;
  border: none;
}
.section_slider .owl-dots .owl-dot.active {
  background: #fe7201;
  /**
 * Owl Carousel v2.3.1
 * Copyright 2013-2018 David Deutsch
 * Licensed under: SEE LICENSE IN https://github.com/OwlCarousel2/OwlCarousel2/blob/master/LICENSE
 */
  /*
 *  Owl Carousel - Core
 */
}
.owl-carousel {
  display: none;
  width: 100%;
  /* position relative and z-index fix webkit rendering fonts issue */
  -webkit-tap-highlight-color: transparent;
  position: relative;
  z-index: 1;
}
.owl-carousel .owl-stage {
  position: relative;
  -ms-touch-action: pan-Y;
  touch-action: manipulation;
  /* fix firefox animation glitch */
  -moz-backface-visibility: hidden;
}
.owl-carousel .owl-stage:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.owl-carousel .owl-stage-outer {
  position: relative;
  /* fix for flashing background */
  overflow: hidden;
  -webkit-transform: translate3d(0px, 0px, 0px);
}
.owl-carousel .owl-wrapper,
.owl-carousel .owl-item {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
}
.owl-carousel .owl-item {
  position: relative;
  min-height: 1px;
  float: left;
  -webkit-backface-visibility: hidden;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}
.owl-carousel .owl-item img {
  display: block;
  width: 100%;
}
.owl-carousel .owl-nav.disabled,
.owl-carousel .owl-dots.disabled {
  display: none;
}
.owl-carousel .owl-nav .owl-prev,
.owl-carousel .owl-nav .owl-next,
.owl-carousel .owl-dot {
  cursor: pointer;
  cursor: hand;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next,
.owl-carousel button.owl-dot {
  /*font: inherit;*/
  padding: 0 !important;
}
.owl-carousel.owl-loaded {
  display: block;
}
.owl-carousel.owl-loading {
  opacity: 0;
  display: block;
}
.owl-carousel.owl-hidden {
  opacity: 0;
}
.owl-carousel.owl-refresh .owl-item {
  visibility: hidden;
}
.owl-carousel.owl-drag .owl-item {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.owl-carousel.owl-grab {
  cursor: move;
  cursor: grab;
}
.owl-carousel.owl-rtl {
  direction: rtl;
}
.owl-carousel.owl-rtl .owl-item {
  float: right;
  /* No Js */
}
.no-js .owl-carousel {
  display: block;
  /*
 *  Owl Carousel - Animate Plugin
 */
}
.owl-carousel .animated {
  animation-duration: 1000ms;
  animation-fill-mode: both;
}
.owl-carousel .owl-animated-in {
  z-index: 0;
}
.owl-carousel .owl-animated-out {
  z-index: 1;
}
.owl-carousel .fadeOut {
  animation-name: fadeOut;
}
@keyframes fadeOut {
  /*
 * 	Owl Carousel - Auto Height Plugin
 */
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
.owl-height {
  transition: height 500ms ease-in-out;
  /*
 * 	Owl Carousel - Lazy Load Plugin
 */
}
.owl-carousel .owl-item .owl-lazy {
  opacity: 0;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-item img.owl-lazy {
  transform-style: preserve-3d;
  /*
 * 	Owl Carousel - Video Plugin
 */
}
.owl-carousel .owl-video-wrapper {
  position: relative;
  height: 100%;
  background: #000;
}
.owl-carousel .owl-video-play-icon {
  position: absolute;
  height: 80px;
  width: 80px;
  left: 50%;
  top: 50%;
  margin-left: -40px;
  margin-top: -40px;
  background: url("owl.video.play.png") no-repeat;
  cursor: pointer;
  z-index: 1;
  -webkit-backface-visibility: hidden;
  transition: transform 100ms ease;
}
.owl-carousel .owl-video-play-icon:hover {
  -ms-transform: scale(1.3, 1.3);
  transform: scale(1.3, 1.3);
}
.owl-carousel .owl-video-playing .owl-video-tn,
.owl-carousel .owl-video-playing .owl-video-play-icon {
  display: none;
}
.owl-carousel .owl-video-tn {
  opacity: 0;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transition: opacity 400ms ease;
}
.owl-carousel .owl-video-frame {
  position: relative;
  z-index: 1;
  height: 100%;
  width: 100%;
}
@media (min-width: 992px) {
  .slider_caption .slider_title {
    font-size: 51px;
    color: #fff;
    font-weight: bold;
  }
  .slider_caption .slider_descr {
    font-size: 22px;
    line-height: 28px;
    list-style: none;
    padding: 0px;
    margin: 50px 0px;
    color: #fff;
    font-weight: bold;
  }
}
.grid_col--5dbaee39b6872c98023419 {
  width: 100%;
}
.grid-section--5dd518bfc3127074564568 {
  padding-top: 20px;
  background-color: #eee;
}
.grid_col-5dd518bfc3d70c29274175 {
  width: 100%;
}
.grid_row--5dbaf06c7b22d058038119 {
  padding-top: 20px;
}
.grid_col--5dbaf06c7b645c97405230 {
  width: 100%;
}
.grid-section--5dd5282de624dc11276852 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #fe7201;
}
.grid_col-5dd5282de7ef9c45083400 {
  width: 100%;
}
.grid_section--5dd52c06f1eb8462121494 {
  padding-top: 20px;
}
.grid_col--5dd52c06f4bc6c41261312 {
  width: 100%;
}
.grid-row-5dc017173e354088498157 {
  padding-top: 20px;
  background-color: #eee;
}
.grid_col-5dc017173eb85078094938 {
  width: 100%;
}
.grid_row--5dbeea494872b012763554 {
  padding-top: 20px;
}
.grid_col--5dbeea4948b43861535786 {
  width: 100%;
}
.grid_row--5dbbf01d90624c34728417 {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #eee;
}
.grid_col--5dbbf01d90a3d826710539 {
  width: 100%;
}
.grid-section--5dd53e4c36041862534429 {
  padding-top: 20px;
  padding-bottom: 50px;
}

.grid_col-5dd53e4c39999817050256 {
  width: 100%;
}
@media (min-width: 576px) {
  .grid_row--5dbaf06c7b22d058038119 {
    padding-top: 40px;
    padding-bottom: 20px;
  }
}
@media (min-width: 992px) {
  .grid-section--5dd518bfc3127074564568 {
    padding-top: 60px;
    padding-bottom: 30px;
  }
  .grid_row--5dbaf06c7b22d058038119 {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .grid-section--5dd5282de624dc11276852 {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .grid_section--5dd52c06f1eb8462121494 {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .grid-row-5dc017173e354088498157 {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .grid_row--5dbeea494872b012763554 {
    padding-top: 70px;
    padding-bottom: 50px;
  }
  .grid_row--5dbbf01d90624c34728417 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
  .grid-section--5dd53e4c36041862534429 {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
.grid_col--5dc01ac4e76c8c88392082 {
  width: 100%;
}
.html_48 {
  height: 56px;
  display: flex;
  align-items: center;
}
.head_logo {
  max-width: 100%;
}
@media (min-width: 992px) {
  .head_logo {
    max-width: 90%;
  }
}
.html_49 {
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  padding-left: 66px;
  height: 56px;
  display: flex;
  align-items: center;
  background-image: url(../images/ico-header/clock.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: normal;
}
.main_menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
}
.main_menu ul li a {
  padding: 15px 20px;
  font-size: 17px;
  color: #fff;
  border-bottom: 2px transparent solid;
  display: block;
  position: relative;
  font-family: Fira Sans;
  font-weight: bold;
}
.main_menu ul li.current_page_item a:before,
.main_menu ul li:hover a:before {
  content: "";
  transform: translateX(-50%);
  position: absolute;
  top: 0px;
  left: 50%;
  display: inline-block;
  width: 1px;
  height: 1px;
  border: 7px transparent solid;
  border-top-color: #fff;
}
.main_menu ul li:last-child {
  margin-left: auto;
}
.html_50 {
  font-family: Fira Sans;
  text-align: right;
  font-style: normal;
  font-weight: 600;
  padding-left: 66px;
  height: 56px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-image: url(../images/ico-header/phone.jpg);
  background-position: left;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: normal;
}
.head_phone {
  color: #fe6500;
  font-size: 30px;
  margin-bottom: 6px;
}
.head_phone span {
  color: #232323;
  font-size: 16px;
}
.head_callback span {
  color: #fe6500;
  text-decoration: underline;
  cursor: pointer;
}
.grid_row--5da037b20c083069267526 {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.29);
}
.grid_row--5da037b20c083069267526 .g_row {
  display: flex;
  flex-wrap: wrap;
}
.grid_col--5dbac99c2c083096655095 {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.grid_col--5dbac99c2ed9188387533 {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.grid_col--5dbac99c31a9fc89648629 {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.grid_section--5dd4205909ba6063090653 {
  background-color: #fe7201;
}
.grid_col--5da0439770e56061344103 {
  margin-bottom: -2px;
  width: 100%;
}
@media (min-width: 992px) {
  .grid_col--5dbac99c2c083096655095 {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 33.3333%;
    justify-content: flex-start;
  }
  .grid_col--5dbac99c2ed9188387533 {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 33.3333%;
  }
  .grid_col--5dbac99c31a9fc89648629 {
    padding-top: 22px;
    padding-bottom: 22px;
    width: 33.3333%;
    justify-content: flex-end;
  }
}
.copyright {
  text-align: center;
  color: #fff;
}
.html_60 {
  margin-bottom: 30px;
}
.media-icon a {
  margin: 0px 8px;
  width: 35px;
  height: 35px;
  position: relative;
  float: left;
}
.media-icon a img {
  position: relative;
  float: left;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  margin-left: -8px;
}
.media-icon a:after {
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(255, 255, 255, 0);
  content: "";
  width: 100%;
  height: 100%;
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
}
.media-icon a:hover:after {
  background: rgba(255, 255, 255, 0.1);
  transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
}
.ya-share2 {
  margin: 30px auto;
}
.ya-share2 ul li {
  padding-left: 0;
}
.ya-share2 ul li:after {
  content: none;
}
.ya-share2__container_size_m .ya-share2__item {
  margin: 0 !important;
}
.ya-share2__badge {
  padding: 5px;
  border-radius: 0 !important;
}
.grid_section--5dd540bf9d70a484130270 {
  margin-top: 30px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-image: url(../images/footer-background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-blend-mode: normal;
}
.grid_col--5dd540bfa1893897712054 {
  width: 100%;
}
@media (min-width: 992px) {
  .grid_section--5dd540bf9d70a484130270 {
    padding-top: 70px;
    padding-bottom: 70px;
  }
}
body {
  font-size: 14px;
}
#content {
  min-height: auto;
}
.title_wrap_top span {
  color: #fe7201;
}

/* wow */
.grid-row-wow {
  padding-top: 70px;
  padding-bottom: 70px;
  background-color: #fe7201;
  font-size: 30px;
  font-family: Fira Sans;
  text-transform: uppercase;
  font-weight: bold;
  color: #fff;
}

/* Partners */
.grid-row-partners {
  padding-bottom: 70px;
}
.grid-row-partners .item img {
  filter: grayscale(1) opacity(0.5);
}
.grid-row-partners .item:hover img {
  filter: grayscale(0) opacity(1);
}
.section_partners .owl-dots {
  position: absolute;
  bottom: -40px;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  flex-wrap: nowrap;
}
.section_partners .owl-dots .owl-dot {
  background: #ccc;
  outline: none;
  margin: 0px 3px;
  width: 45px;
  height: 4px;
  border: none;
}
.section_partners .owl-dots .owl-dot.active {
  background: #fe7201;
}

/* Reviews */
.owl-reviews .item img {
  filter: grayscale(1) opacity(0.5);
  border: 1px #b3b3b3 solid;
}
.owl-reviews .item:hover img {
  filter: grayscale(0) opacity(1);
  border: 1px #f60 solid;
}
.owl-reviews .owl-dots {
  position: absolute;
  bottom: -25px;
  transform: translateX(-50%);
  left: 50%;
  display: flex;
  flex-wrap: nowrap;
}
.owl-reviews .owl-dots .owl-dot {
  background: #ccc;
  outline: none;
  margin: 0px 3px;
  width: 45px;
  height: 4px;
  border: none;
}
.owl-reviews .owl-dots .owl-dot.active {
  background: #fe7201;
}

.mg_t_15 {
  margin-top: 15px;
}
.mg_b_15 {
  margin-bottom: 15px;
}

.pum-theme-7 .pum-container,
.pum-theme-lightbox .pum-container {
  border: 2px solid #fe7201 !important;
  border-radius: 11px !important;
}
.pum-theme-7 .pum-content + .pum-close,
.pum-theme-lightbox .pum-content + .pum-close {
  background-color: #fe7201 !important;
}

.sidebar_calc {
  padding: 15px;
  box-shadow: 0px 3px 21px 0px rgba(0, 0, 0, 0.14);
}
.sidebar_calc .sidebar_title {
  font-family: Fira Sans;
  font-size: 22px;
  font-weight: bold;
  border-bottom: 1px #eee solid;
  padding: 10px 0px 20px 0px;
  margin-bottom: 15px;
  line-height: 27px;
}

.btn-accent {
  color: #ffffff;
  text-shadow: unset;
  background-color: #fe7201;
  background-image: linear-gradient(to bottom, #fe7201, #fe7201);
  background-repeat: repeat-x;
  border-color: #f06c01;
  box-shadow: unset;
}
