.form-call-courier {
  max-width: 700px;
  margin: auto;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: url(../images/form-call-courier-bg-2.png);
    background-size: contain;
    top: 0;
    background-repeat: no-repeat;
    opacity: 0.25;
    z-index: -1;
    background-position-y: bottom;
  }

  h3 {
    margin: 0;
  }

  .wpcf7-form-control-wrap {
    flex-grow: 1;
  }

  .wpcf7-not-valid-tip {
    font-size: 0.8em;
    text-align: center;
  }

  .form-control {
    background: rgba(255, 255, 255, 0.75);
  }

  label {
    //
  }

  input.form-control {
    &:target,
    &:focus {
      color: #000000 !important;
    }
  }

  textarea.form-control {
    //
    max-height: 100px;
    overflow-y: auto;
  }

  input[type="submit"] {
    margin: 15px 5px 5px 5px;
  }
}
