@import "grid";
@import "form";
@import "btn";

.social-media {
  display: none;
  justify-content: center;
  align-items: center;

  &.social-media-laptop {
    @media (min-width: 770px) {
      display: flex;
    }
  }

  &.social-media-phone {
    display: flex;
    margin-bottom: 5px;
  }

  .social-media-link {
    padding: 3px 3px 0px 3px;
  }

  .social-media-img {
    margin: 0 3px;
    height: 40px;
  }
}

.btn-link {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  outline: none;
  width: 100%;
}

.grid-facility {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn {
  outline: none;

  &:hover,
  &:target,
  &:focus,
  &:active {
    outline: none;
  }
}

.btn-facility {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  background: #fe7201;
  color: #fff;
  border: 1px solid #fe7201;
  transition: all 300ms;

  &:hover,
  &:target,
  &:focus,
  &:active {
    background: #d45f00;
    color: #fff;
  }

  i {
    margin-right: 0.5rem;
  }
}

.btn-outline-facility {
  margin-top: 0.5rem;
  width: 100%;
  font-size: 1em;
  font-weight: bold;
  background: #ffffff;
  color: #fe7201;
  border: 1px solid #fe7201;
  transition: all 300ms;

  &:hover,
  &:target,
  &:focus,
  &:active {
    background: #fe7201;
    color: #fff;
  }

  i {
    margin-right: 0.5rem;
  }
}

//
//
//

.banner-discount {
  display: flex;
  flex-direction: row;
  background: #f0f0f0;
  border-radius: 4px;
  position: relative;
  font-family: Fira Sans;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 1;

  background: #ffffff;
  color: #fe7201;
  border: 1px solid #fe7201;

  transform: translateY(-300px);
  transition: 300ms;

  &.animation-banner-discount {
    transform: translateY(0);
  }
}

.banner-discount-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 48px;
  padding: 0 15px;
}

.banner-discount-value {
  margin: 10px;
  min-height: 50px;
  font-size: 18px;
  position: relative;
  text-align: center;
  font-weight: 700;
}
.banner-discount--title {
  font-size: 32px;
}
.banner-discount--desc {
  //
}

.banner-discount-desc {
  font-size: 20px;
  padding: 5px 5px 15px 5px;
}

//
//
//
.call-courier {
  display: flex;
  position: fixed;
  padding: 0;
  top: 290px;
  left: 0;

  z-index: 100;
  transform: translateX(-300px);
  transition: 300ms;

  &.animation-iteration-count {
    transform: translateX(0);
  }
}

.call-courier-btn {
  display: flex;
  margin: 0;
  position: relative;

  height: 50px;
  width: 150px;
  font: bold 14px "Fira Sans";
  text-transform: uppercase;
  color: #ffffff;
  background: #fe7201;
  border: none;
  border-radius: 0px 7px 7px 0px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  transition: all 500ms;

  &:active,
  &:focus {
    outline: none;
    border: none;
  }

  &:hover {
    background: #d45f00;
    color: #fff;

    .call-courier-btn--icon-before {
      transform: translateX(50px);
    }

    .call-courier-btn--icon-after {
      transform: translateX(0);
    }
  }
}

.call-courier-btn--text {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 50px;
  width: 100px;
  height: 50px;
}

.call-courier-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 50px;
  height: 100%;
  overflow: hidden;
}

.call-courier-btn--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.call-courier-btn--icon-before {
  transform: translateX(0);
  transition: all 200ms;
}

.call-courier-btn--icon-after {
  transform: translateX(-50px);
  transition: all 200ms;
}

@media (max-width: 1280px) {
  .call-courier-btn {
    width: 100px;
  }

  .call-courier-btn--text {
    left: 0;
  }

  .call-courier-icon {
    display: none;
  }
}
//
//
//
#kladr_autocomplete {
  z-index: 19999999999;

  .autocomplete {
    z-index: 19999999999;
  }
}

#kladr_autocomplete a,
#kladr_autocomplete strong {
  font-family: MuseoSansCyrl, Arial, Helvetica, sans-serif;
  font-size: 15px;
}

#kladr_autocomplete small {
  font-family: MuseoSansCyrl, Arial, Helvetica, sans-serif;
  font-size: 13px;
}

/* Добавляем скругления и тень у выпадающего списка*/
#kladr_autocomplete ul {
  border-radius: 0 0 5px 5px;
  border: 1px solid #ded7f9;
  overflow: hidden;
  background: #fff;
  -webkit-box-shadow: 0 2px 10px 0 rgba(86, 62, 142, 0.1);
  box-shadow: 0 2px 10px 0 rgba(86, 62, 142, 0.1);
  z-index: 1;
}

/* Прописываем стили для тултипа с сообщением об ошибке*/
.tooltip {
  position: absolute;
  top: 16px;
  left: 360px;
  color: #b94a48;
  padding: 8px 10px;
  border-radius: 5px;
  border: 1px solid #eed3d7;
  background-color: #f2dede;
  opacity: 0.8;
  font-size: 14px;
  z-index: 100000;
}
