<div class="col-sm-6">
  <div class="row">
    <div class="col-sm-12 mg_t_15">
      <h3>Откуда</h3>
    </div>
    <div class="col-sm-12 mg_t_15">
      <label>Адрес (обязательно)</label>
      [text* address_from class:form-control placeholder "Введите название адреса"]
    </div>
    <div class="col-sm-12 mg_t_15">
      <label>Отправитель (обязательно)</label>
      [text* name_from class:form-control placeholder "ФИО"]
    </div>
    <div class="col-sm-12 mg_t_15">
      <label>Контактный телефон (обязательно)</label>
      [tel* phone_from class:form-control placeholder "+7 (___)___-__-__"]
    </div>
    <div class="col-sm-12 mg_t_15">
      <label>Примечание / характер отправления (письмо, посылка, прочее) / срочность</label>
      [textarea text_from class:form-control placeholder]
    </div>
  </div>
</div>



<div class="col-sm-6">
  <div class="row">
    <div class="col-sm-12 mg_t_15">
      <h3>Куда</h3>
    </div>
    <div class="col-sm-12 mg_t_15">
      <label>Адрес (обязательно)</label>
      [text* address_to class:form-control placeholder "Введите название адреса"]
    </div>
    <div class="col-sm-12 mg_t_15">
      <label>Получатель (обязательно)</label>
      [text* name_to class:form-control placeholder "ФИО"]
    </div>
    <div class="col-sm-12 mg_t_15">
      <label>Контактный телефон (обязательно)</label>
      [tel* phone_to class:form-control placeholder "+7 (___)___-__-__"]
    </div>
    <div class="col-sm-12 mg_t_15">
      <label>Примечание / характер отправления (письмо, посылка, прочее) / срочность</label>
      [textarea text_to class:form-control placeholder]
    </div>

  </div>

</div>

<div class="col-sm-12">
  <div class="d-flex justify-content-center mt-2">
    [submit class:btn class:btn-accent "Отправить заявку"]
  </div>
</div>